# [broker]
broker_home: {{ amq_broker_install_dest }}/{{ amq_broker_install_link | default(amq_broker_default_install_link) }}
broker_instance: {{ amq_broker_install_dest }}/{{ amq_broker_instance_dir }}
broker_name: {{ amq_broker_instance_name }}
allow_origins: '*'
{% if amq_broker_instance_clustered == false %}
single_broker:true
clustered:false
{% else %}
single_broker: false
clustered: true
cluster_load_balancing: {{ amq_broker_cluster_balancing }}
cluster_multicast_address: {{ amq_broker_cluster_broadcast_group_address }}
cluster_multicast_port: {{ amq_broker_cluster_broadcast_group_port }}
{% endif %}
