node_information:
  default_address: {{ external_address | default(ansible_default_ipv4.address) }}
  addresses:
    default_ssh: {{ external_address | default(ansible_default_ipv4.address) }}
    {% if external_address is defined -%}
    internal: {{ ansible_default_ipv4.address }}
    {% endif -%}