node_information:
  default_address: {{ amq_broker_external_address | default(ansible_default_ipv4.address) }}
  addresses:
    default_ssh: {{ amq_broker_external_address | default(ansible_default_ipv4.address) }}
    {% if amq_broker_external_address is defined -%}
    internal: {{ ansible_default_ipv4.address }}
    {% endif -%}